<!-- Topbar Start -->
{% with request.resolver_match.url_name as url_name %}


<div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>123 Street, Kolkata, India</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+012 345 6789</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
{% if request.user.is_authenticated %}
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <a href="{% url "home" %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>Medica</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">

            <a href="{% url "home" %}" class="{% if url_name == 'home'%} active {%endif%}nav-item nav-link ">Home</a>
            <a href="{% url "about" %}" class="{% if url_name == 'about'%} active {%endif%}nav-item nav-link">About</a>
            <a href="{% url "profile" %}" class="nav-item nav-link">Departments</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">More</a>
                <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                    <a href="{% url "team" %}" class="dropdown-item">Our Doctors</a>
                    <a href="{% url "appointment" %}" class="dropdown-item">Appointment</a>
                </div>
            </div>
            <a href="{% url "contact"%}" class="nav-item nav-link">Contact</a>
        </div>
        <a href="{% url "logout"%}" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Logout<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>


{% else %}
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <a href="{% url "home" %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>Medica</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">

            <a href="{% url "home" %}" class="{% if url_name == 'home'%} active {%endif%}nav-item nav-link ">Home</a>
            <a href="{% url "about" %}" class="{% if url_name == 'about'%} active {%endif%}nav-item nav-link">About</a>
            <a href="{% url "signin" %}" class="nav-item nav-link">Departments</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu rounded-0 rounded-bottom m-0">

                    <a href="{% url "team" %}" class="dropdown-item">Our Doctors</a>
                    <a href="{% url "signin" %}" class="dropdown-item">Appointment</a>

                </div>
            </div>
            <a href="{% url "contact"%}" class="nav-item nav-link">Contact</a>
        </div>
        <a href="{% url "signin"%}" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Sign-In<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
{%  endif  %}
{% endwith %}
<!-- Navbar End -->

